@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fbfdfb;
}

[data-theme="dark"] {
  --background: black;
  --foreground: white;
}

.glass {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.25),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(80px);
}

.animation-div3 {
  background-image: linear-gradient(45deg, #8a2387, #e94057, #f27121);

  background-size: 110%;
  animation: bg-animation 4s infinite alternate;
}

.animation-div4 {
  background-image: linear-gradient(45deg, #020024, #07284b, #034c74, #00749b);
  background-size: 600% 600%;
  animation: bg-animation2 35s infinite ease;
}

@keyframes bg-animation2 {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.scrolled {
  background-color: white;
}

.icon {
  transition: transform 1.25s; /* Smooth transition for rotation */
}

.icon:hover {
  transform: rotate(360deg); /* Rotate 360 degrees on hover */
}

@supports (scrollbar-color: #48494b #bebdb8) {
  * {
    scrollbar-color: #48494b #bebdb8;
    scrollbar-width: thin;
  }
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.5);
  background: #bebdb8;
}
::-webkit-scrollbar-thumb {
  background: #48494b;
  border-radius: 100vw;
  border: 1.7px solid #bebdb8;
}
